<script>

	export let cats;

	let cat = {};
	let paw = 'up';

	fetch("cats.json")
		.then(response => response.json())
		.then(json => {
			cats = json;
			cat = cats[0];
			if (location.hash) {
				cat = cats[cats.findIndex(c => c.hash == location.hash)]
			}
		});

	function pew() {
		paw = 'pew';
	}

	function pewUp() {
		paw = 'up';
		next();
	}

	function next() {
		let dis = cats.findIndex(c => c.hash == cat.hash);
		let next = dis == cats.length - 1 ? 0 : dis + 1;
		cat = cats[next];
		location.hash = cat.hash
	}
</script>

<main>
	<h1>
		потерялся
		герменевтический
		!!! КОТ !!!
	</h1>
	<div class="cat">
		<img src={cat.pic} alt="{cat.say}">
		<div class="words">
			<p class="say">{cat.say}</p>
			<p class="what">({cat.what})</p>
		</div>
	</div>
	<button
		class="paw {paw}"
		title="Дай лапу!"
		on:mousedown="{pew}"
		on:mouseup="{pewUp}"
		on:touchstart="{pew}">
	</button>
</main>

<style>
	main {
		position: absolute;
    width: 527px;
    height: 100%;
    padding: 0;
		margin: 0 auto;
		text-align: center;
		letter-spacing: 2px;
	}

	h1 {
		color: #e51d20;
		text-transform: uppercase;
		font-size: 15pt;
    letter-spacing: 4pt;
    line-height: 1.5;
		white-space: pre-line;
	}

	.cat {
		position: relative;
		margin: 0 auto;
		padding: 0 0 109px;
	}

	.cat img {
		max-width: 100%;
	}

	.words {
		text-align: left;
		font-size: 11pt;
	}

	.words p {
		margin: 4pt 0;
	}

	.words p.say {
		white-space: pre-wrap;
	}

	.words p.what {
		color: #e51d20;
		font-style: italic;
		max-width: 84%;
	}

	.paw {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 104px;
    height: 134px;
    border: none;
		cursor: grab;
		background: url(/assets/img/paw.png);
		background-size: cover;
	}

	.paw::-moz-focus-inner {
		border: 0;
	}

	.paw.pew {
		cursor: grabbing;
		background: url(/assets/img/paw-pew.png);
		background-size: cover;
	}

	@media (max-width: 640px) {
		main {
			width: 100vw;
			height: auto;
			position: relative;
		}

		h1 {
			font-size: 13pt;
		}

		.cat {
			padding: 0 0 113px;
		}

		.words {
			font-size: 9pt;
    	margin-left: 4pt;
		}

		.paw {
			height: 113px;
			width: 84px;
			right: 4px;
		}
	}

	@media (max-width: 320px) {
		h1 {
			white-space: nowrap;
			font-size: 9pt;
			letter-spacing: normal;
		}

		.cat {
			padding: 0 0 64px;
		}

		.words {
			font-size: 6pt;
			width: 84%;
		}

		.paw {
			height: 72px;
    	width: 56px;
		}
	}
</style>